# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Ignore IDE-specific files
.idea/
.vscode/
__pycache__/
*.pyc

# Ignore virtual environments
venv/
env/

# Ignore build artifacts
*.egg-info/
dist/
build/
